WcfServer/BartUI/Connected Services/SimpleProxy/BartService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5555/BartService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceLibrary" />
  <xs:element name="GetIssue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceLibrary" minOccurs="0" name="request" nillable="true" type="q1:IssueRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceLibrary" minOccurs="0" name="GetIssueResult" nillable="true" type="q2:IssueResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBigObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="size" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBigObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceLibrary" minOccurs="0" name="GetBigObjectResult" nillable="true" type="q3:BigObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>