WcfServer/BartUI/Connected Services/BartService/BartService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5555/BartService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:5555/BartService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="IssueRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IssueRequest" nillable="true" type="tns:IssueRequest" />
  <xs:complexType name="IssueResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Issue" nillable="true" type="tns:ArrayOfIssue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IssueResponse" nillable="true" type="tns:IssueResponse" />
  <xs:complexType name="ArrayOfIssue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Issue" nillable="true" type="tns:Issue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIssue" nillable="true" type="tns:ArrayOfIssue" />
  <xs:complexType name="Issue">
    <xs:sequence>
      <xs:element minOccurs="0" name="IssueId" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Issue" nillable="true" type="tns:Issue" />
  <xs:complexType name="BigObject">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Data" nillable="true" type="q1:ArrayOfshort" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BigObject" nillable="true" type="tns:BigObject" />
</xs:schema>